.client-intro{
    background-color: var(--color-white);
    color: var(--color-dark);
}

/* .client-intro h4{
    color: var(--color-primary);
} */

.client-intro__meta ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.client-intro__meta ul li p:first-child{
    margin-bottom: var(--size-100);
}

.client-intro__meta .eyebrow{
    color: var(--color-primary);
}

.client-intro__meta svg{
    width: 1.8rem;
    height: auto;
    fill: var(--color-light);
}

.client-intro__meta .has-link p{
    gap: var(--text-100);
}

.client-intro__overview p{
    font-size: var(--text-300);
}

.notice{
    color: var(--color-notice);
    border: 1px solid var(--color-notice);
    text-align: center;
    border-radius: var(--rounded-lg);
}