---
layout: layouts/default.njk
eleventyComputed:
  headerClasses: "light"
  headerColouring: "green"
---

{% asyncEach block in blocks %}
  {% include '../partials/blocks/' + block.type + '.njk' %}
{% endeach %}