<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- include 'partials/meta.njk' -%}
    <script>document.documentElement.classList.remove('no-js');</script>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/components/menu-toggle.js" type="module"></script>
  </head>
  <body>
    {# header #}
    {# I am using some front matter to change the theme of the header so easily make changes via CSS #}
    <div class="main-content">
    <header class="site-header" data-color="{{ headerClasses|default("light", true) }}" aria-expanded="false">
      <div class="wrapper">
        <div class="site-header__cont [ stack ]">
        <button class="menu-toggle" data-menu-toggle="false" aria-label="Toggle Menu">
          <span class="menu-toggle__line"></span>
          <span class="menu-toggle__line"></span>
          <span class="menu-toggle__line"></span>
        </button>
          <nav class="[ navigation ] [ basis-full flex-1 lg:flex-initial g:basis-auto ]">
            <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row lg:items-center ]" role="list">
              {% for item in collections.all | eleventyNavigation %}
                <li>
                  <a href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="logo [ flex-1 ]">
            <a href="/">{% include '../../img/logo.svg' %}</a>
          </div>

          <div class="action [ flex justify-end ]">
            <a href="/contact" class="button">
              Embark Now
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>
    </div>
    <footer class="site-footer">
      <div class="site-footer__top">
        <div class="wrapper">
          <div class="[ grid gap-800 lg:grid-cols-12 ]">
            <div class="content [ text-center lg:text-left flow lg:col-span-6 ]">
              <p class="eyebrow">Discover New Horizons</p>
              <h1>Let's create something truly extraordinary.</h1>
              <a href="/contact" class="button" data-type="secondary">Begin Your Journey</a>
            </div>

            <div class="gfx [ flex lg:col-span-6 justify-center lg:justify-end ]">
              {% include '../../img/magic-icon.svg' %}
            </div>
          </div>
        </div>
      </div>
      <div class="site-footer__bottom">
        <div class="wrapper">
          <div class="flex justify-center lg:justify-between">
            <div><p>Copyright Mat Doidge 2023. All rights reserved.</p></div>
            <div><p>Powered by 11ty and Netlify CMS.</p></div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  </body>
</html>