<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- include 'partials/meta.njk' -%}
    <script>document.documentElement.classList.remove('no-js');</script>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#054541">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#054541">

    <script src="/js/components/menu-toggle.js" type="module"></script>
  </head>
  <body>
    {# header #}
    {# I am using some front matter to change the theme of the header so easily make changes via CSS #}
    <div class="main-content">
    <header class="site-header {{ headerColouring|default("white", true) }}" data-color="{{ headerClasses|default("light", true) }}" aria-expanded="false">
      <div class="wrapper">
        <div class="site-header__cont [ stack ]">
        <button class="menu-toggle" data-menu-toggle="false" aria-label="Toggle Menu">
          <span class="menu-toggle__line"></span>
          <span class="menu-toggle__line"></span>
          <span class="menu-toggle__line"></span>
        </button>
          <nav class="[ navigation ] [ basis-full flex-1 lg:flex-initial g:basis-auto ]">
            <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row lg:items-center ]" role="list">
              {% for item in collections.all | eleventyNavigation %}
                <li>
                  <a href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="logo [ flex-1 ]">
            <a href="/">{% include '../../img/logo.svg' %}</a>
          </div>

          <div class="action [ flex justify-end ]">
            <a href="/contact" class="button" data-type="{{ headerButtType|default("hollow", true) }}">
              Embark Now
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>
    </div>
    <div class="site-footer-wrap">
    <footer class="site-footer w-full flex flex-col">
      <div class="site-footer__top">
        <div class="wrapper">
          {# <div class="[ grid gap-500 lg:grid-cols-12 ]"> #}
          <div class="[ flex justify-center flex-col h-screen justify-between m-y-400 ]">
            <div></div>

            <div class="flex gap-600 flex-col justify-center content-center justify-items-center">
              <div class="gfx [ flex py-600 lg:py-0 lg:col-span-5 justify-center ]">
                {% include '../../img/magic-icon.svg' %}
              </div>
              
              <div class="content [ text-center flow ]">
                {# <p class="eyebrow">Discover New Horizons</p> #}
                <p class="text-800 font-medium">Let's create something truly extraordinary.</p>
                <a href="/contact" class="button" data-type="secondary">Begin Your Journey</a>
              </div>

            </div>

            <div class="footer-bottom flex justify-center flex-col lg:flex-row text-center lg:justify-between">
              <div><p>Copyright Mat Doidge {% year %}. All rights reserved.</p></div>
              <div><p>Powered by 11ty and Netlify.</p></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QK389372Z8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QK389372Z8');
    </script>
  </body>
</html>