<section class="hero [ relative bg-dark ]" data-type="project">
    <div class="wrapper [ min-h-full max-w-7xl ]">
        <div class="hero-content [ flex flex-col content-bottom justify-end ]">
            <div class="[ flow flow-space-200 ]">
                <p class="[ text-400 ]">&mdash; {{ title }}</p>
                <h1 class="text-800">{{ block.tagline }}</h1>
            </div>
        </div>
        <img class="hero__background" src="{{ heroimage }}?nf_resize=fit&w=2000" alt="{{ heroalt }}">
    </div>
</section>