<section class="hero [ relative ]" data-type="project">
    <div class="wrapper">
        <div class="hero-content [ flex flex-col content-end ]">
            <div class="[ flow flow-space-200 ]">
                <h1>{{ title }}</h1>
                <p class="text-300">{{ block.tagline }}</p>
            </div>
        </div>
        <img class="hero__background" src="{{ block.image }}" alt="{{ block.alt }}">
    </div>
</section>