<section class="image-double [ pane ]" style="background-color: #{{ block.background }}">
    <div class="wrapper">
        <div class="grid [ lg:grid-cols-12 lg:gap-600 ]">
            <div class="[ lg:col-span-6 shadow-xl ]">
                <img class="rounded-lg" src="{{ block.imageone }}" alt="{{ block.altone }}">
            </div>

            <div class="[ lg:col-span-6 shadow-xl ]">
                <img class="rounded-lg" src="{{ block.imagetwo }}" alt="{{ block.alttwo }}">
            </div>
        </div>
    </div>
</section>