<section class="image-full [ pane ]" style="background-color: #{{ block.background }}">
    <div class="wrapper">
        <div class="grid [ lg:grid-cols-12 ]">
            <div class="image-full__wrap [ lg:col-start-2 lg:col-span-10 shadow-xl ]">
                {# <img class="rounded-lg" src="{{ block.image }}" alt="{{ block.alt }}"> #}
                {% image block.image, {
                    classes: 'rounded-lg h-auto',
                    alt: block.alt,
                    widths: [1000, 1380],
                    loading: 'lazy'
                } %}
            </div>
        </div>
    </div>
</section>