<section class="client-intro [ pane ]">
    <div class="wrapper [ max-w-6xl ]">
        <div class="grid [ lg:gap-900 lg:grid-cols-8 ]">
            <div class="client-intro__overview [ lg:col-span-6 flow ]">
                {{ block.content | markdown | safe }}
                {% if block.button %}<a class="button" href="{{ block.button.link }}">{{ block.button.text }}</a>{% endif %}
            </div>

            <div class="client-intro__meta [ lg:col-span-2 ]">
                <ul class="flow">
                    <li>
                        <span class="eyebrow">Client</span>
                        {% if block.clientlink %}
                        <a href="{{ block.clientlink }}"><p>{{ block.client }}</p></a>
                        {% else %}
                        <p>{{ block.client }}</p>
                        {% endif %}
                    </li>
                    <li>
                        <span class="eyebrow">Services</span>
                        <p>{% for service in services %}
                        {{ service }}
                        {% endfor %}</p>
                    </li>
                    <li>
                        <span class="eyebrow">Year</span>
                        <p>{{ block.year }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
