<section class="text [ pane bg-white ]">
    <div class="wrapper">
        <div class="grid [ lg:grid-cols-12 ]">
            
            <div class="text__content [ flow lg:col-start-4 lg:col-span-6 text-center ]">
                {{ block.content | markdown | safe }}
            </div>
        </div>
    </div>
</section>