.site-header{
    width: 100%;
    z-index: 100;
    padding: var(--size-500) 0;
}

.site-header[data-color="light"], .site-header[data-color="dark"][aria-expanded="true"]{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-light);
}

.site-header[data-color="light"] .logo svg, .site-header[data-color="dark"] .logo svg{
    fill: var(--color-light);
}

.site-header[data-color="dark"][aria-expanded="false"]{
    color: var(--color-dark);
    background-color: var(--color-white);
}

.site-header[data-color="dark"][aria-expanded="false"] .logo svg{
    fill: var(--color-dark);
}

.site-header[data-color="dark"][aria-expanded="false"] .button{
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 0;
}

.site-header[data-color="dark"][aria-expanded="false"] .button:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
}

.site-header__cont{
  --gutter: 2rem;
  --stack-align: center;
  --stack-justify: space-between;
}

.site-header__cont .navigation{
    width: 33%;
    align-self: center;
    display: grid;
    grid-template-rows: 0fr;
    transition: .6s var(--transition-gentle) grid-template-rows;
    font-family: var(--font-medium);
    order: 3;
}

.site-header .navigation ul{
    overflow: hidden;
}

.site-header__cont .navigation a{
    text-decoration: none;
}

.site-header__cont .logo a{
    width: 4.5rem;
    display: block;
}

.hero{
    position: relative;
    color: var(--color-light);
    padding: calc(16vh + var(--size-900)) 0 ;
    text-align: center;
}

.hero .eyebrow{
    color: var(--color-light);
}

.hero[data-type="project"]{
    text-align: left;
    /* padding: calc(35rem + var(--size-900)) 0 var(--size-800) 0; */
    height: 80vh;
    padding: 0;
    min-height: 40rem;
    z-index: 1;
}

.hero[data-type="project"]::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24rem;
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(30,30,30,0) 0%, rgba(30,30,30,.8) 100%);
    z-index: 1;
}

.hero[data-type="project"]::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24rem;
    background: rgb(30,30,30);
    background: linear-gradient(0deg, rgba(30,30,30,0) 0%, rgba(30,30,30,.8) 100%);
    z-index: 1;
}

.hero[data-type="project"] .hero-content{
    min-height: 100%;
    z-index: 100;
}

.hero[data-type="index"] p{
    font-size: var(--text-400);
    color: var(--color-primary);
}

.hero__background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

@keyframes bounce {
0%,
    100% {
        transform:translateY(-10%);
        animation-timing-function:cubic-bezier(.2,.2,.2,.2)
    }
    50% {
        transform:translateY(0);
        animation-timing-function:cubic-bezier(1,1,1,1)
    }
}

.hero .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    bottom: 0;
}

.hero .icon svg{
    animation: bounce 3s infinite;
}

.site-header__cont .action{
    align-self: center;
}

.menu-toggle {
    position:relative;
    z-index:0;
    display:inline-block;
    width:24px;
    height:24px;
    -webkit-appearance:none;
    outline:0;
    border:none;
    background:0 0;
    transition:all .5s;
    padding:0;
    cursor:pointer;
    color:var(--color-white);
    flex-shrink:0;
    order: 3;
    align-self: center;
}

.site-header[data-color="dark"] .menu-toggle{
    color: var(--color-dark);
}

.site-header[data-color="dark"][aria-expanded="true"] .menu-toggle{
    color: var(--color-light);
}

.menu-toggle__line {
    position:absolute;
    width:100%;
    height:2px;
    background:currentColor;
    display:block;
    transition:all .25s;
    top:50%;
    border-radius:var(--radius-tiny);
    margin-top:-1px;
}
.menu-toggle__line:first-child {
    transform:translateY(-6px);
}
.menu-toggle__line:nth-child(3) {
    transform:translateY(6px);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:first-child {
    transform:rotate(45deg) translateY(0);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:nth-child(2) {
    transform:scaleX(0) translateY(0);
}
.menu-toggle[data-menu-toggle=true] .menu-toggle__line:nth-child(3) {
    transform:rotate(-45deg) translateY(0);
}

.site-header[aria-expanded=true] {
    max-height:100vh;
    height: 100%;
    background-color: var(--color-dark);
    overflow-y:auto;
}

[aria-expanded=true] .navigation {
    grid-template-rows:1fr;
    margin-top: var(--size-900);
}

[aria-expanded=true] .navigation li{
    font-size: var(--text-700);
    text-align: center;
}

@media (min-width:64em) {
    .hero{
        padding: calc(24vh + var(--size-900)) 0 ;
    }
    .site-header__nav {
        display:initial;
    }
    .menu-toggle {
        display:none;
    }

    .site-header__cont .logo a{
        margin: auto;
    }

    .site-header__cont .logo{
        width: 33%;
        align-self: center;
    }

    .site-header__cont .navigation{
        order: 0;
    }

    .site-header .navigation ul{
        overflow: visible;
    }

    .site-header[aria-expanded=true]{
        height: initial;
        background-color: transparent;
    }

    [aria-expanded=true] .navigation {
        margin-top: initial;
    }
    
    [aria-expanded=true] .navigation li{
        font-size: initial;
        text-align: initial;
    }

    .site-header__cont .action{
        width: 33%;
    }
}