<section class="hero" data-type="index">
  <img src="{{ block.image | default('/uploads/hero-home.jpg') }}" class="hero__background" alt="Hero background image">
  {# {% set src = block.image | default('/uploads/hero-new.jpg') %} #}
  {# {% image block.image, {
    classes: 'hero__background',
    alt: block.imagealt,
    widths: [1000, 1400, 2000, "auto"],
    loading: 'lazy'
  } %} #}
  
  <div class="[ wrapper ] [ max-w-7xl h-full content-center relative ]">
    <div class="flow">
      <span class="hero__eyebrow [ eyebrow ]">{{ block.eyebrow }}</span>
      <h1 class="hero__title [ text-1000 ]">{{ block.title }}</h1>

      {{ block.content | markdown | safe }}

      <div class="[ stack ] [ justify-center gap-x-200 ]">
        {% for button in block.buttons %}
          <a href="{{ button.link }}" class="button">
            {{ button.text }}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="icon [ hidden 900h:block ]">{% include '../../../img/hero-icon.svg' %}</div>
  </div>
</section>