<section class="intro">
    <div class="wrapper">
        <div class="flow">
            <img src="{{ block.image }}" alt="{{ block.alt }}">
            <p class="eyebrow [ color-primary ]">{{ block.eyebrow }}</p>
            <h2>{{ block.title }}</h2>
            {{ block.content | markdown | safe }}
            <a class="button" data-type="secondary" href="{{ block.button.link }}">{{ block.button.text }}</a>
        </div>
    </div>
</section>