<section class="services [ relative pane bg-secondary ]">
    <div class="wrapper">
        <div class="grid [ items-center lg:grid-cols-12 gap-800 ]">
            <div class="services__text [ lg:col-span-7 text-center md:text-left ]">
                <div class="flow">
                    <div class="eyebrow">{{ block.eyebrow }}</div>
                    <h2>{{ block.title }}</h2>
                    {{ block.content | markdown | safe }}
                    <a href="{{ block.button.link }}" data-type="dark" class="button">{{ block.button.text }}</a>
                </div>
            </div>

            <div class="services__specialism [ lg:col-span-5 ]">
                <ul class="[ flex gap-4 flex-col ]">
                    {% for specialism in block.specialisms %}
                    <li class="[ flow flow-space-300 rounded-lg relative ]">
                        <div class="[ flex gap-4 flex-row items-center ]">
                            <img src="{{ specialism.icon }}"/>
                            <h5>{{ specialism.servicename }}</h5>
                        </div>
                        {{ specialism.text | markdown | safe }}
                        <a href="specialism.link" class="breakout-button"></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="bg">{% include '../../../img/logo-icon-bg.svg' %}</div>
</section>