<section class="work [ pane flow flow-space-800 ]">
    <div class="wrapper [ max-w-screen-lg ]">
        <div class="work-head [ text-center grid ]">
            {# <p class="eyebrow text-primary">{{ block.eyebrow }}</p> #}
            <h3>{{ block.title }}</h3>
        </div>
    </div>

    <div class="wrapper">
        <div class="work-list [ grid lg:gap-600 lg:grid-cols-12 ]">
            {% for work in collections.work | reverse %}
            {% if loop.index0 < block.count %}
            <div class="work-list__item [ relative rounded-lg lg:col-span-6 ]">
                <div class="image [ relative aspect-[16/11] ]">
                    <img src="{{ work.data.thumbnail }}" alt="">
                </div>   
                <a href="{{ work.url }}">
                    <span aria-hidden="true" class="absolute inset-0 z-40"></span>
                </a>
                
                <div class="text [ flow flow-space-100 ]">
                    {% if work.data.services %}
                    <p>
                        {% for service in work.data.services %}
                        {{ service }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    <h4>{{ work.data.title }}</h4>
                </div>
            </div>
            {% endif %}
            {% endfor%}
        </div>
        {% if block.showbutton === true %}
        <div class="controls [ text-center mt-700 ]">
            <a href="/work/" class="button" data-type="secondary">View more projects</a>
        </div>
        {% endif %}  
    </div>
</section>